
<% provide(:title, "About") %>
		<h1>About</h1>
		<h2><a href="/app/views/home.html.erb"> home</h2>
		<h2><a href="/app/views/help.html.erb"> help</h2>
		<p>
		This is an <em>empty about</em> page, <b>because it feels </b> <i>good</i>
		</p>