
<% provide(:title, "Contact") %>

	<h1>Sample App Contact Page</h1>
	<h2><a href="/app/views/help.html.erb"> help</h2>
	<h2><a href="/app/views/about.html.erb"> about</h2>
	<p>This is a home page for the sample application</p>


