<% provide(:title, "Help") %>
<h1>Help</h1>
	<h2><a href="/app/views/home.html.erb"> home</h2>
	<h2><a href="/app/views/about.html.erb"> about</h2>
	<p>Get help on the ruby on Rails Turoeial at the </p>
	<p><a href = "http://www.railstutorial.org/help"> Rails Tutorial help page </a></p>



