
<div class = "center jumbotron">
	<h1>Sample App Home Page</h1>
	<h2>
		This is the home page for Boxuan Zhu
		<a href = "https://github.com/BoxuanZhu/Swift.git"> Git for Swift Tutorial</a>
		sample application.
	</h2>
	<%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("homepage.png", alt: "Random Logo", width: "100px", height: "100px"), 'https://github.com/BoxuanZhu/Swift.git' %>



